extends layout

block content
  .main-page
    header#main-header
      h1
        img(src="images/main-icon.png", width="80", height="80", align="center")
        | 대기인원 관리자 페이지
    |         
    #main-content1
      article#currenttime
        p.title 현재 시간
        |                 
        p#crttime.tvalue
      |             
      article#count
        p.title 대기 인원
        |                 
        p#cntwaiting.tvalue
      |             
      article#expectedtime
        p.title 예상 대기시간
        |                 
        p.tvalue
          img(src="images/time.png", width="45", height="55", align="center")
          | 30분
      |             
      article#camera
        p.title 대기상황 보기
        |                 
        a.tvalue(href="./test2.html", target="_blank")
          img(src="images/camera.png", width="65", height="60")
    |         
    #main-content2
      #table
        table#seatTable(width="96%", height="100%", cellspacing="15;", style="table-layout:fixed;")
          tr(height="25%")
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
          |                     
          tr(height="25%")
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
          |                     
          tr(height="25%")
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
          |                     
          tr(height="25%")
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
            |                         
            td
              input.seatChoice(type="button", name="선택", value="선택", disabled="true", onclick="seatChoice(this);")
      |             
      #waiting
        // 이건 db에서 대기 중인 사람들 관련 table
        table#insertTable(width="96%", style="table-layout:fixed;")
          tr(height="35")
            th(width="7") 순번
            |                         
            th(width="7") 인원
            |                         
            th(width="30") 전화번호
            |                  
            th(width="30") 메뉴
            |                         
            th(width="7") 호출
            |                         
            th(width="7") 착석
            |                         
            th(width="7") 삭제
        // 이건 db에서 자리에 앉은 사람들 관련 table
        table#outputTable(width="96%", style="table-layout:fixed;")
          tr(height="35")
            th(width="10") 순번
            |                         
            th(width="10") 인원
            |                         
            th(width="80") 메뉴
    |         
    //- input#phone(type="text" name="phone")
    //- br
    //- input#menu(type="text" name="menu")
    //- br
    //- input#people(type="text" name="people")
    //- br
    //- button#connectionButton 전송

    footer#main-footer
      p @Embedded Computing Term Project
